[Unit]
Description=Poll Dropbox output every five minutes

[Timer]
OnCalendar=*-*-* *:00/5:00
AccuracySec=1s
Persistent=true
Unit=woek-news-bridge-poll.service

[Install]
WantedBy=timers.target
